/*@media only screen and (max-width: 320px) {
  .gala-box {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }
  .gala-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .gala-text {
    font-style: italic;
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 321px) and (max-width: 375px) {
  .gala-box {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }
  .gala-title {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .gala-text {
    font-style: italic;
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 376px) and (max-width: 425px) {
  .gala-box {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }
  .gala-title {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
  }
  .gala-text {
    font-style: italic;
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 425px) and (max-width: 596px) {
  .gala-box {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }
  .gala-title {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
  }
  .gala-text {
    font-style: italic;
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 596px) and (max-width: 768px) {
  .gala-box {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
  }
  .gala-title {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
  }
  .gala-text {
    font-style: italic;
    font-size: 16px;
  }
}*/

@media only screen and (min-device-width: 769px) and (max-width: 1024px) {
  .gala-box {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
  }
  .gala-info {
    padding: 20px 40px;
    text-align: center;
  }
  .gala-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-bottom: 0;
  }
  .gala-text {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0;
  }
  .gala-details {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
}

@media only screen and (min-device-width: 1025px) {
  .gala-box {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 30px 50px;
    display: inline-block;
    display: flex;
    justify-content: center;
  }
  .gala-info {
    padding: 20px 40px;
    text-align: center;
  }
  .gala-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-bottom: 0;
  }
  .gala-text {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0;
  }
  .gala-details {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
}
