@media only screen and (max-width: 320px) {
	h1.title {
		font-size: 25px;
		font-weight: bold;
	}
	p.general-padding {
		font-size: 13px;
	}

  /* FOOTER */
	h4.footerheader {
		font-size: 9px;
    padding-right: 20px;
	}
	p.footertext {
		font-size: 8px;
	}
  td.socialmedia {
    text-align: left;
    padding-right: 20px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(1) > img {
    height: 25px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(2) > img {
    height: 25px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(3) > img {
    height: 25px;
  }

  /* INTL PARTNERS PAGER */
  .intl_partners-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .logo-container {
    text-align: center;
    padding: 20px 0;
  }
  .intl_title {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: #6FBFEC;
  }
  .rji-logo{
    width: 100px;
  }
  .awaitingangels-logo{
    width: 100px;
  }
  .seed-logo{
    width: 100px;
  }
  .anides-logo{
    width: 100px;
  }
  .seed_alliance-logo{
    width: 100px;
  }
  .puravida-logo{
    width: 100px;
  }
  .crc-logo{
    width: 100px;
  }
  .mmb-logo{
    width: 100px;
  }
  .NG-logo{
    width: 100px;
  }
}
@media only screen and (min-device-width: 321px) and (max-width: 375px) {
	h1.title {
		font-size: 30px;
		font-weight: bold;
	}
	p.general-padding {
		font-size: 15px;
	}

  /* FOOTER */
	h4.footerheader {
		font-size: 9px;
    padding-right: 10px;
	}
	p.footertext {
		font-size: 8px;
	}
  td.socialmedia {
    text-align: left;
    padding-right: 20px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(1) > img {
    height: 25px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(2) > img {
    height: 25px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(3) > img {
    height: 25px;
  }

  /* INTL PARTNERS PAGER */
  .intl_partners-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .intl_partners-text {
    width: 100%;
  }
  .logo-container {
    text-align: center;
    padding: 20px 0;
  }
  .intl_title {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: #6FBFEC;
  }
  .rji-logo{
    width: 100px;
  }
  .awaitingangels-logo{
    width: 100px;
  }
  .seed-logo{
    width: 100px;
  }
  .anides-logo{
    width: 100px;
  }
  .seed_alliance-logo{
    width: 100px;
  }
  .puravida-logo{
    width: 100px;
  }
  .crc-logo{
    width: 100px;
  }
  .mmb-logo{
    width: 100px;
  }
  .NG-logo{
    width: 100px;
  }
}

@media only screen and (min-device-width: 376px) and (max-width: 425px) {
	h1.title {
		font-size: 30px;
		font-weight: bold;
	}
	p.general-padding {
		font-size: 15px;
	}

  /* FOOTER */
	h4.footerheader {
		font-size: 17px;
	}
	p.footertext {
		font-size: 12px;
	}

  /* INTL PARTNERS PAGER */
  .intl_partners-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .intl_partners-text {
  	width: 100%;
  }
  .logo-container {
    text-align: center;
    padding: 20px 0;
  }
  .intl_title {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: #6FBFEC;
  }
  .rji-logo{
    width: 100px;
  }
  .awaitingangels-logo{
    width: 100px;
  }
  .seed-logo{
    width: 100px;
  }
  .anides-logo{
    width: 100px;
  }
  .seed_alliance-logo{
    width: 100px;
  }
  .puravida-logo{
    width: 100px;
  }
  .crc-logo{
    width: 100px;
  }
  .mmb-logo{
    width: 100px;
  }
  .NG-logo{
    width: 100px;
  }
}

@media only screen and (min-device-width: 425px) and (max-width: 600px) {
  div.divideline {
    width: 50%;
  }

  /* INTL PARTNERS PAGER */
  .intl_partners-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .intl_partners-text {
  	width: 100%;
  }
  .logo-container {
    text-align: center;
    padding: 20px 0;
  }
  .intl_title {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: #6FBFEC;
  }
  .rji-logo{
    width: 150px;
  }
  .awaitingangels-logo{
    width: 150px;
  }
  .seed-logo{
    width: 150px;
  }
  .anides-logo{
    width: 150px;
  }
  .seed_alliance-logo{
    width: 150px;
  }
  .puravida-logo{
    width: 150px;
  }
  .crc-logo{
    width: 150px;
  }
  .mmb-logo{
    width: 150px;
  }
  .NG-logo{
    width: 150px;
  }
}
@media only screen and (min-device-width: 600px) and (max-width: 768px) {
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }

  /* NAVBAR */
  .navbar {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0;
  }
  .soslogo {
    height: 50px;
  }
  .navbar-brand {
    padding-top: 0px;
  }
  .general-padding {
    padding-bottom: 20px;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    height: 100%;
    background-color: #0f425c;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  table {
    margin: 0 auto;
  }
  th {
    margin-top: 0px;
  }
  td {
    padding-right: 50px;
  }
  h4.footerheader {
    color: white;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
  }
  .contactheader {
    color: white;
  }
  .footertext {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .socialmedia {
    text-align: center;
  }
  .facebook {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .instagram {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .twitter {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .scotiabank {
    height: 35px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .princeton {
    height: 70px;
    padding-bottom: 5px;
  }
  .divideline {
    border-top: 1px solid #0F425C;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* INTL PARTNERS PAGER */
  .intl_partners-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
  }
  .intl_partners-text {
  	width: 100%;
  	margin-top: 10px;
  }
  .logo-container {
    text-align: center;
    padding: 20px 20px 20px 0;
  }
  .intl_title {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: #6FBFEC;
  }
  .rji-logo{
    width: 150px;
  }
  .awaitingangels-logo{
    width: 150px;
  }
  .seed-logo{
    width: 150px;
  }
  .anides-logo{
    width: 150px;
  }
  .seed_alliance-logo{
    width: 150px;
  }
  .puravida-logo{
    width: 150px;
  }
  .crc-logo{
    width: 150px;
  }
  .mmb-logo{
    width: 150px;
  }
  .NG-logo{
    width: 150px;
  }
}

@media only screen and (min-device-width: 769px) and (max-width: 1024px) {
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }

  /* NAVBAR */
  .navbar {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0;
  }
  .soslogo {
    height: 50px;
  }
  .navbar-brand {
    padding-top: 0px;
  }
  .general-padding {
    padding-bottom: 20px;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    height: 100%;
    background-color: #0f425c;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  table {
    margin: 0 auto;
  }
  th {
    margin-top: 0px;
  }
  td {
    padding-right: 50px;
  }
  h4.footerheader {
    color: white;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
  }
  .contactheader {
    color: white;
  }
  .footertext {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .socialmedia {
    text-align: center;
  }
  .facebook {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .instagram {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .twitter {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .scotiabank {
    height: 35px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .princeton {
    height: 70px;
    padding-bottom: 5px;
  }
  .divideline {
    border-top: 1px solid #0F425C;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* INTL PARTNERS PAGER */
  .intl_partners-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
  }
  .intl_partners-text {
  	width: 100%;
  	margin-top: 10px;
  }
  .logo-container {
    text-align: center;
    padding: 40px 80px 40px 40px;
  }
  .intl_title {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: #6FBFEC;
  }
  .rji-logo{
    width: 150px;
  }
  .awaitingangels-logo{
    width: 150px;
  }
  .seed-logo{
    width: 150px;
  }
  .anides-logo{
    width: 150px;
  }
  .seed_alliance-logo{
    width: 150px;
  }
  .puravida-logo{
    width: 150px;
  }
  .crc-logo{
    width: 150px;
  }
  .mmb-logo{
    width: 150px;
  }
  .NG-logo{
    width: 150px;
  }
}
@media only screen and (min-device-width: 1025px) {
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }

  /* NAVBAR */
  .navbar {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0;
  }
  .soslogo {
    height: 50px;
  }
  .navbar-brand {
    padding-top: 0px;
  }

  .general-padding {
    padding-bottom: 20px;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    height: 100%;
    background-color: #0f425c;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  table {
    margin: 0 auto;
  }
  th {
    margin-top: 0px;
  }
  td {
    padding-right: 50px;
  }
  h4.footerheader {
    color: white;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
  }
  .contactheader {
    color: white;
  }
  .footertext {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .socialmedia {
    text-align: center;
  }
  .facebook {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .instagram {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .twitter {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .scotiabank {
    height: 35px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .princeton {
    height: 70px;
    padding-bottom: 5px;
  }
  .divideline {
    border-top: 1px solid #0F425C;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* INTL PARTNERS PAGER */
  .intl_partners-box {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
  }
  .intl_partners-text {
  	width: 100%;
  	margin-top: 10px;
  }
  .logo-container {
    text-align: center;
    padding: 50px 80px 50px 50px;
  }
  .intl_title {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    color: #6FBFEC;
  }
  .rji-logo{
    width: 150px;
  }
  .awaitingangels-logo{
    width: 150px;
  }
  .seed-logo{
    width: 150px;
  }
  .anides-logo{
    width: 150px;
  }
  .seed_alliance-logo{
    width: 150px;
  }
  .puravida-logo{
    width: 150px;
  }
  .crc-logo{
    width: 150px;
  }
  .mmb-logo{
    width: 150px;
  }
  .NG-logo{
    width: 150px;
  }
}

/* OG DIMENSIONS */

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
p {
  font-family: 'Poppins', sans-serif;
}
.navbar {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}
.soslogo {
  height: 50px;
}
.navbar-brand {
  padding-top: 0px;
}
.banner {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/aboutbanner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 300px;
  display: block;
}
.bannerbuttons {
  position: relative;
  top: 30%;
  right: center;
}
.banner-img {
  width: 100%;
}
.outreach-banner {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/outreachbanner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 300px;
}
.outreachcontent {
  padding-bottom: 30px;
}
.student-banner {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/studentsbanner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 300px;
}
.title {
  padding-bottom: 20px;
  text-align: center;
}
.content-box {
  width: 100%;
  padding: 20px 75px 30px 75px;
  word-wrap: break-word;
}
.general-padding {
  padding-bottom: 20px;
}
.model {
  color: #6FBFEC;
  text-align: center;
  font-style: italic;
}
.highlight {
  color: #0F425C;
}
.btn-primary {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #6FBFEC;
  width: 200px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.lead {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* SPONSORS SECTION */
.sponsor-box {
  width: 100%;
  padding: 50px 75px;
  overflow: auto;
  word-wrap: break-word;
}
.sponsor-logos {
  width: 100%;
  padding: 50px 75px;
  overflow: auto;
  word-wrap: break-word;
}
.sponsorimages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-title {
  text-align: center;
  padding-bottom: 30px;
}

.princeton-image {
  width: 300px;
  padding-right: 75px;
}

.scotiabank-image {
  height: 75px;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 100%;
  background-color: #0f425c;
  padding-top: 10px;
  padding-bottom: 10px;
}
table {
  margin: 0 auto;
}
th {
  /*padding-right: 50px;*/
  margin-top: 0px;
}
td {
  padding-right: 50px;
}
h4.footerheader {
  color: white;
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
}
.contactheader {
  color: white;
}
.footertext {
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}
.socialmedia {
  text-align: center;
}
.facebook {
  height: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.instagram {
  height: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.twitter {
  height: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.scotiabank {
  height: 35px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.princeton {
  height: 70px;
  padding-bottom: 5px;
}
.divideline {
  border-top: 1px solid #0F425C;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
