@media only screen and (max-width: 320px) {
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(1) > button {
    background-color: #6FBFEC;
    width: 150px;
    font-size: 12px;
  }
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(2) > button {
    background-color: #6FBFEC;
    width: 150px;
    font-size: 12px;
  }
  div.banner {
		height: 100px;
	}
  div.bannerbuttons {
    top: 25%;
  }
	h1.title {
		font-size: 25px;
		font-weight: bold;
	}
	p.general-padding {
		font-size: 13px;
	}
	h3.model {
		font-size: 23px;
	}
	div.outreach-banner {
		height: 100px;
	}
	div.student-banner {
		height: 100px;
	}
  .monthly-left {
    float: none;
    text-align: center;
  }
  .monthly-right {
    float: none;
    text-align: center;
    margin-left: 0px;
  }
  .monthly-title {
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
  }
  .monthly-pic {
    width: 200px;
    padding-bottom: 10px;
  }
  .monthly-description {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }
	h1.sponsor-title {
		font-size: 25px;
		font-weight: bold;
	}
	img.princeton-image {
		width: 150px;
		height: 10%;
	}
    img.scotiabank-image {
		width: 130px;
		height: 10%;
	}
	h4.footerheader {
		font-size: 9px;
    padding-right: 20px;
	}
	p.footertext {
		font-size: 8px;
	}
  td.socialmedia {
    text-align: left;
    padding-right: 20px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(1) > img {
    height: 25px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(2) > img {
    height: 25px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(3) > img {
    height: 25px;
  }
  /* teamS PAGER */

  .team-banner {
    padding: 10px 20px;
  }
  .team-title {
    font-size: 30px;
  }
  .team-header {
    text-align: left;
    font-size: 12px;
  }
  .team-modal {
  	margin: auto;
  	margin-bottom: 10px;
    text-align: center;
  }
  .modal-header {
    text-align: center;
  }
  .modal-image {
  	height: 200px;
  	padding-bottom: 7px;
  }
  .in-modal-image {
    padding-top: 10px;
    height: 250px;
  }
  .modal-body {
    padding: 20px 20px;
  }
  .modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
  }
  .modal-subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin-top: 0px;
    font-size: 17px;
  }
  .modal-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  }
  .carousel {
  	margin: auto;
  	margin-bottom: 10px;
  	width: 70%
  }
  .arrow {
    height: 20px;
    margin-top: 150px;
  }
}
@media only screen and (min-device-width: 321px) and (max-width: 375px) {
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(1) > button {
    background-color: #6FBFEC;
    width: 150px;
    font-size: 12px;
  }
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(2) > button {
    background-color: #6FBFEC;
    width: 150px;
    font-size: 12px;
  }
  div.banner {
		height: 100px;
	}
  div.bannerbuttons {
    top: 25%;
  }
	h1.title {
		font-size: 30px;
		font-weight: bold;
	}
	p.general-padding {
		font-size: 15px;
	}
	h3.model {
		font-size: 25px;
	}
	div.outreach-banner {
		height: 100px;
	}
	div.student-banner {
		height: 100px;
	}
	div.divideline {
		width: 225px;
	}
  .monthly-left {
    float: none;
    text-align: center;
  }
  .monthly-right {
    float: none;
    text-align: center;
    margin-left: 0px;
  }
  .monthly-title {
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
  }
  .monthly-pic {
    width: 200px;
    padding-bottom: 10px;
  }
  .monthly-description {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }
	h1.sponsor-title {
		font-size: 25px;
		font-weight: bold;
	}
	img.princeton-image {
		width: 150px;
		height: 15%;
	}
    img.scotiabank-image {
		width: 150px;
		height: 15%;
	}
	h4.footerheader {
		font-size: 9px;
    padding-right: 10px;
	}
	p.footertext {
		font-size: 8px;
	}
  td.socialmedia {
    text-align: left;
    padding-right: 20px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(1) > img {
    height: 25px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(2) > img {
    height: 25px;
  }
  body > footer > div > table > tbody > tr:nth-child(2) > td.socialmedia > a:nth-child(3) > img {
    height: 25px;
  }

  /* teamS PAGER */
  .team-banner {
    padding: 10px 20px;
  }
  .team-title {
    font-size: 30px;
  }
  .team-header {
    text-align: left;
    font-size: 12px;
  }
  .team-modal {
  	margin: auto;
  	margin-bottom: 10px;
    text-align: center;
  }
  .modal-header {
    text-align: center;
  }
  .modal-image {
  	height: 200px;
  	padding-bottom: 7px;
  }
  .in-modal-image {
    padding-top: 10px;
    height: 250px;
  }
  .modal-body {
    padding: 20px 30px;
  }
  .modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
  }
  .modal-subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin-top: 0px;
    font-size: 18px;
  }
  .modal-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  }
  .carousel {
  	margin: auto;
  	margin-bottom: 10px;
  	width: 70%
  }
  .arrow {
    height: 30px;
    margin-top: 150px;
  }
}
@media only screen and (min-device-width: 376px) and (max-width: 425px) {
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(1) > button {
    background-color: #6FBFEC;
  }
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(2) > button {
    background-color: #6FBFEC;
  }
	div.banner {
		height: 100px;
	}
	h1.title {
		font-size: 30px;
		font-weight: bold;
	}
	p.general-padding {
		font-size: 15px;
	}
	h3.model {
		font-size: 25px;
	}
	div.outreach-banner {
		height: 100px;
	}
	div.student-banner {
		height: 100px;
	}
	div.divideline {
		width: 200px;
	}
  .monthly-left {
    float: none;
    text-align: center;
  }
  .monthly-right {
    float: none;
    text-align: center;
    margin-left: 0px;
  }
  .monthly-title {
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
  }
  .monthly-pic {
    width: 200px;
    padding-bottom: 10px;
  }
  .monthly-description {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }
	h1.sponsor-title {
		font-size: 25px;
		font-weight: bold;
	}
	img.princeton-image {
		width: 150px;
		height: 15%;
	}
    img.scotiabank-image {
		width: 150px;
		height: 15%;
	}
	h4.footerheader {
		font-size: 17px;
	}
	p.footertext {
		font-size: 12px;
	}

  /* teamS PAGER */
  .team-banner {
    padding: 10px 20px;
  }
  .team-title {
    font-size: 30px;
  }
  .team-header {
    text-align: left;
    font-size: 12px;
  }
  .team-modal {
  	margin: auto;
  	margin-bottom: 10px;
    text-align: center;
  }
  .modal-header {
    text-align: center;
  }
  .modal-image {
  	height: 200px;
  	padding-bottom: 7px;
  }
  .in-modal-image {
    padding-top: 10px;
    height: 250px;
  }
  .modal-body {
    padding: 20px 30px;
  }
  .modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
  }
  .modal-subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin-top: 0px;
    font-size: 18px;
  }
  .modal-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  }
  .carousel {
  	margin: auto;
  	margin-bottom: 10px;
  	width: 70%
  }
  .arrow {
    height: 35px;
    margin-top: 150px;
  }
}

@media only screen and (min-device-width: 425px) and (max-width: 600px) {
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(1) > button {
    width: 150px;
    font-size: 13px;
    background-color: #6FBFEC;
  }
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(2) > button {
    width: 150px;
    font-size: 13px;
    background-color: #6FBFEC;
  }
  div.banner {
    height: 140px;
  }
  div.bannerbuttons {
    top: 30%;
  }
  div.outreach-banner {
    height: 230px;
  }
  div.student-banner {
    height: 230px;
  }
  div.divideline {
    width: 300px;
  }
  .monthly-left {
    float: none;
    text-align: center;
  }
  .monthly-right {
    float: none;
    text-align: center;
    margin-left: 0px;
  }
  .monthly-title {
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
  }
  .monthly-pic {
    width: 200px;
    padding-bottom: 10px;
  }
  .monthly-description {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  /* teamS PAGER */
  .team-banner {
    padding: 10px 20px;
  }
  .team-title {
    font-size: 30px;
  }
  .team-header {
    text-align: left;
    font-size: 12px;
  }
  .team-modal {
  	margin: 0 30px 10px 30px;
    text-align: center;
  }
  .modal-header {
    text-align: center;
  }
  .modal-image {
  	height: 200px;
  	padding-bottom: 7px;
  }
  .in-modal-image {
    padding-top: 10px;
    height: 250px;
  }
  .modal-body {
    padding: 20px 30px;
  }
  .modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
  }
  .modal-subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin-top: 0px;
    font-size: 22px;
  }
  .modal-text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
  }
  .carousel {
  	margin: auto;
  	margin-bottom: 10px;
  	width: 60%
  }
  .arrow {
    height: 35px;
    margin-top: 150px;
  }
}
@media only screen and (min-device-width: 600px) and (max-width: 768px) {
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(1) > button {
    width: 200px;
    font-size: 15px;
    background-color: #6FBFEC;
  }
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(2) > button {
    width: 200px;
    font-size: 15px;
    background-color: #6FBFEC;
  }
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }
  .navbar {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0;
  }
  .soslogo {
    height: 50px;
  }
  .navbar-brand {
    padding-top: 0px;
  }
  .banner {
    height: 300px;
  }
  .bannerbuttons {
    position: relative;
    top: 30%;
    right: center;
  }
  .banner-img {
    width: 100%;
  }
  .outreach-banner {
    height: 300px;
  }
  .outreachcontent {
    padding-bottom: 30px;
  }
  .student-banner {
    height: 300px;
  }
  .title {
    padding-bottom: 20px;
    text-align: center;
  }
  .content-box {
    width: 100%;
    padding: 20px 75px 30px 75px;
    word-wrap: break-word;
  }
  .general-padding {
    padding-bottom: 20px;
  }
  .model {
    color: #6FBFEC;
    text-align: center;
    font-style: italic;
  }
  .highlight {
    color: #0F425C;
  }
  .btn-primary {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

  }
  .lead {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .monthly-left {
    float: none;
    text-align: center;
  }
  .monthly-right {
    float: none;
    text-align: center;
    margin-left: 0px;
  }
  .monthly-title {
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }
  .monthly-pic {
    width: 300px;
    padding-bottom: 20px;
  }
  .monthly-description {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
  }

  /* SPONSORS SECTION */
  .sponsor-box {
    width: 100%;
    padding: 50px 75px;
    overflow: auto;
    word-wrap: break-word;
  }
  .sponsor-logos {
    width: 100%;
    padding: 50px 75px;
    overflow: auto;
    word-wrap: break-word;
  }
  .sponsorimages {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sponsor-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .princeton-image {
    width: 300px;
    padding-right: 75px;
  }

  .scotiabank-image {
    height: 75px;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    height: 100%;
    background-color: #0f425c;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  table {
    margin: 0 auto;
  }
  th {
    margin-top: 0px;
  }
  td {
    padding-right: 50px;
  }
  h4.footerheader {
    color: white;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
  }
  .contactheader {
    color: white;
  }
  .footertext {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .socialmedia {
    text-align: center;
  }
  .facebook {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .instagram {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .twitter {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .scotiabank {
    height: 35px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .princeton {
    height: 70px;
    padding-bottom: 5px;
  }
  .divideline {
    border-top: 1px solid #0F425C;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  /* teamS PAGER */
  .team-banner {
    padding: 10px 50px;
  }
  .team-title {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
  }
  .team-header {
    text-align: left;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .team-modal {
  	margin: 0 100px 10px 100px;
    text-align: center;
  }
  .modal-header {
    text-align: center;
  }
  .modal-image {
  	height: 300px;
  	padding-bottom: 7px;
  }
  .in-modal-image {
    padding-top: 10px;
    height: 250px;
  }
  .modal-body {
    padding: 20px 50px;
  }
  .modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
  }
  .modal-subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin-top: 0px;
    font-size: 25px;
  }
  .modal-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
  .carousel {
  	margin: auto;
  	margin-bottom: 10px;
  	width: 51%;
  }
  .arrow {
    height: 50px;
    margin-top: 300px;
  }
}

@media only screen and (min-device-width: 769px) and (max-width: 1024px) {
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(1) > button {
    width: 200px;
    font-size: 15px;
    margin-right: 100px;
    background-color: #6FBFEC;
  }
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(2) > button {
    width: 200px;
    font-size: 15px;
    background-color: #6FBFEC;
  }
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }
  .navbar {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0;
  }
  .soslogo {
    height: 50px;
  }
  .navbar-brand {
    padding-top: 0px;
  }
  .banner {
    height: 300px;
  }
  .bannerbuttons {
      position: relative;
      top: 30%;
      right: center;
  }
  .banner-img {
    width: 100%;
  }
  .outreach-banner {
    height: 300px;
  }
  .outreachcontent {
    padding-bottom: 30px;
  }
  .student-banner {
    height: 300px;
  }
  .title {
    padding-bottom: 20px;
    text-align: center;
  }
  .content-box {
    width: 100%;
    padding: 20px 75px 30px 75px;
    word-wrap: break-word;
  }
  .general-padding {
    padding-bottom: 20px;
  }
  .model {
    color: #6FBFEC;
    text-align: center;
    font-style: italic;
  }
  .highlight {
    color: #0F425C;
  }
  .btn-primary {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

  }
  .lead {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .monthly-left {
    float: left;
    text-align: center;
  }
  .monthly-right {
    float: right;
    text-align: center;
    margin-left: 10px;
  }
  .monthly-title {
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
  }
  .monthly-pic {
    width: 400px;
    padding-bottom: 20px;
  }
  .monthly-description {
    width: 400px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  /* SPONSORS SECTION */
  .sponsor-box {
    width: 100%;
    padding: 50px 75px;
    overflow: auto;
    word-wrap: break-word;
  }
  .sponsor-logos {
    width: 100%;
    padding: 50px 75px;
    overflow: auto;
    word-wrap: break-word;
  }
  .sponsorimages {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sponsor-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .princeton-image {
    width: 300px;
    padding-right: 75px;
  }

  .scotiabank-image {
    height: 75px;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    height: 100%;
    background-color: #0f425c;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  table {
    margin: 0 auto;
  }
  th {
    margin-top: 0px;
  }
  td {
    padding-right: 50px;
  }
  h4.footerheader {
    color: white;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
  }
  .contactheader {
    color: white;
  }
  .footertext {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .socialmedia {
    text-align: center;
  }
  .facebook {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .instagram {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .twitter {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .scotiabank {
    height: 35px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .princeton {
    height: 70px;
    padding-bottom: 5px;
  }
  .divideline {
    border-top: 1px solid #0F425C;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  /* teamS PAGER */
  .team-container {
    text-align: center;
    margin: 50px 0;
  }
  .team-banner {
    padding: 10px 100px;
  }
  .team-title {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
  }
  .team-header {
    text-align: left;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .team-modal {
    width: 400px;
    display: inline-block;
    vertical-align: top;
  }
  .modal-header {
    text-align: center;
  }
  .modal-image {
  	height: 300px;
  	padding-bottom: 7px;
  }
  .in-modal-image {
    padding-top: 10px;
    height: 250px;
  }
  .modal-body {
    padding: 20px 50px;
  }
  .modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
  }
  .modal-subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin-top: 0px;
    font-size: 25px;
  }
  .modal-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
  .carousel {
  	width: 396.5px;
    display: inline-block;
  }
  .arrow {
    height: 50px;
    margin-top: 300px;
  }
}
@media only screen and (min-device-width: 1025px) {
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(1) > button {
    width: 300px;
    font-size: 18px;
    margin-right: 50px;
    background-color: #6FBFEC;
  }
  #aboutSection > div:nth-child(1) > div > div > a:nth-child(2) > button {
    width: 300px;
    font-size: 18px;
    background-color: #6FBFEC;
  }
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }
  .navbar {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0;
  }
  .soslogo {
    height: 50px;
  }
  .navbar-brand {
    padding-top: 0px;
  }
  .banner {
    height: 300px;
  }
  .bannerbuttons {
      position: relative;
      top: 35%;
      right: center;
  }
  .banner-img {
    width: 100%;
  }
  .outreach-banner {
    height: 300px;
  }
  .outreachcontent {
    padding-bottom: 30px;
  }
  .student-banner {
    height: 300px;
  }
  .title {
    padding-bottom: 20px;
    text-align: center;
  }
  .content-box {
    width: 100%;
    padding: 20px 75px 30px 75px;
    word-wrap: break-word;
  }
  .general-padding {
    padding-bottom: 20px;
  }
  .model {
    color: #6FBFEC;
    text-align: center;
    font-style: italic;
  }
  .highlight {
    color: #0F425C;
  }
  .btn-primary {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .lead {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .monthly-left {
    float: left;
    text-align: center;
  }
  .monthly-right {
    float: right;
    text-align: center;
    margin-left: 10px;
  }
  .monthly-title {
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }
  .monthly-pic {
    width: 300px;
    padding-bottom: 20px;
  }
  .monthly-description {
    width: 500px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  /* SPONSORS SECTION */
  .sponsor-box {
    width: 100%;
    padding: 50px 75px;
    overflow: auto;
    word-wrap: break-word;
  }
  .sponsor-logos {
    width: 100%;
    padding: 50px 75px;
    overflow: auto;
    word-wrap: break-word;
  }
  .sponsorimages {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sponsor-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .princeton-image {
    width: 300px;
    padding-right: 75px;
  }

  .scotiabank-image {
    height: 75px;
  }

  /* FOOTER */
  .footer {
    width: 100%;
    height: 100%;
    background-color: #0f425c;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  table {
    margin: 0 auto;
  }
  th {
    margin-top: 0px;
  }
  td {
    padding-right: 50px;
  }
  h4.footerheader {
    color: white;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
  }
  .contactheader {
    color: white;
  }
  .footertext {
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .socialmedia {
    text-align: center;
  }
  .facebook {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .instagram {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .twitter {
    height: 35px;
    margin-right: 5px;
    padding-bottom: 5px;
  }
  .scotiabank {
    height: 35px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .princeton {
    height: 70px;
    padding-bottom: 5px;
  }
  .divideline {
    border-top: 1px solid #0F425C;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  /* teamS PAGER */
  .team-container {
    text-align: center;
    margin: 50px 0;
  }
  .team-banner {
    padding: 10px 200px 0;
  }
  .team-title {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
  }
  .team-header {
    text-align: left;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .team-modal {
    width: 400px;
    display: inline-block;
    vertical-align: top;
  }
  .modal-header {
    text-align: center;
  }
  .modal-image {
  	height: 300px;
  	padding-bottom: 5px;
  }
  .in-modal-image {
    padding-top: 10px;
    height: 250px;
  }
  .modal-body {
    padding: 20px 50px;
  }
  .modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
  }
  .modal-subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin-top: 0px;
    font-size: 25px;
  }
  .modal-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
  .carousel {
  	width: 396.5px;
    display: inline-block;
  }
  .arrow {
    height: 50px;
    margin-top: 275px;
  }
}

/* OG DIMENSIONS */

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
p {
  font-family: 'Poppins', sans-serif;
}
.navbar {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}
.soslogo {
  height: 50px;
}
.navbar-brand {
  padding-top: 0px;
}
.banner {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/aboutbanner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 300px;
  display: block;
}
.bannerbuttons {
  position: relative;
  top: 30%;
  right: center;
}
.banner-img {
  width: 100%;
}
.outreach-banner {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/outreachbanner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 300px;
}
.outreachcontent {
  padding-bottom: 30px;
}
.student-banner {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/studentsbanner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 300px;
}
.title {
  padding-bottom: 20px;
  text-align: center;
}
.content-box {
  width: 100%;
  padding: 20px 75px 30px 75px;
  word-wrap: break-word;
}
.general-padding {
  padding-bottom: 20px;
}
.model {
  color: #6FBFEC;
  text-align: center;
  font-style: italic;
}
.highlight {
  color: #0F425C;
}
.btn-primary {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: #6FBFEC;
  width: 200px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.lead {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* SPONSORS SECTION */
.sponsor-box {
  width: 100%;
  padding: 50px 75px;
  overflow: auto;
  word-wrap: break-word;
}
.sponsor-logos {
  width: 100%;
  padding: 50px 75px;
  overflow: auto;
  word-wrap: break-word;
}
.sponsorimages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-title {
  text-align: center;
  padding-bottom: 30px;
}

.princeton-image {
  width: 300px;
  padding-right: 75px;
}

.scotiabank-image {
  height: 75px;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 100%;
  background-color: #0f425c;
  padding-top: 10px;
  padding-bottom: 10px;
}
table {
  margin: 0 auto;
}
th {
  /*padding-right: 50px;*/
  margin-top: 0px;
}
td {
  padding-right: 50px;
}
h4.footerheader {
  color: white;
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
}
.contactheader {
  color: white;
}
.footertext {
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}
.socialmedia {
  text-align: center;
}
.facebook {
  height: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.instagram {
  height: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.twitter {
  height: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.scotiabank {
  height: 35px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.princeton {
  height: 70px;
  padding-bottom: 5px;
}
.divideline {
  border-top: 1px solid #0F425C;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
