h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
.navbar {
  padding-left: 60px;
  padding-right: 60px;
}
.soslogo {
  height: 50px;
}
.navbar-brand {
  padding-top: 0px;
}
.banner {
  width: 100%;
  /*border: 3px solid blue;*/
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/aboutbanner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 300px;
  position: relative
}
.bannerbuttons {
  position: relative;
  top: 50%;
  transform: translate(0, -50%)
}
.banner-img {
  width: 100%;
}
.outreach-banner {
  width: 100%;
  /*border: 3px solid blue;*/
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/outreachbanner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 300px;
}
.student-banner {
  width: 100%;
  /*border: 3px solid blue;*/
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../img/studentsbanner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 300px;
}
.title {
  padding-bottom: 20px;
  text-align: center;
}
.content-box {
  width: 100%;
  padding: 50px 75px;
  word-wrap: break-word;
}
.general-padding {
  padding-bottom: 20px;
}
.model {
  color: #6FBFEC;
  text-align: center;
  font-style: italic;
}
.highlight {
  color: #0F425C;
}
.btn-primary {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.lead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.studentDescription {
  padding-bottom: 20px;
}


/* SPONSORS SECTION */
.sponsor-box {
  width: 100%;
  padding: 50px 75px;
  overflow: auto;
  word-wrap: break-word;
}
.sponsor-logos {
  width: 100%;
  padding: 50px 75px;
  overflow: auto;
  word-wrap: break-word;
}
.sponsorimages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-title {
  text-align: center;
  padding-bottom: 30px;
}

.princeton-image {
  width: 300px;
  padding-right: 75px;
}

.scotiabank-image {
  height: 75px;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 100%;
  background-color: #0f425c;
  padding-top: 10px;
  padding-bottom: 10px;
}
table {
  margin: 0 auto;
}
th {
  padding-right: 50px;
  margin-top: 0px;
}
td {
  padding-right: 50px;
}
h4.footerheader {
  color: white;
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
}
.contactheader {
  color: white;
}
.footertext {
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}
.socialmedia {
  text-align: center;
}
.facebook {
  height: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.instagram {
  height: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.twitter {
  height: 35px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.scotiabank {
  height: 35px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.princeton {
  height: 70px;
  padding-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */
